<header>
  <ul class="header_container">
    <li><%= link_to t("shared.links.title"), books_path, class: "title" %></li>
    <li>
      <% if current_user.profile_icon.attached? %>
        <%= image_tag current_user.profile_icon, class: "profile_icon" %>
      <% else %>
        <%= image_tag "/assets/person_noimage.png", class: "profile_icon" %>
      <% end %>
    </li>
    <li><%= link_to t("shared.links.my_profile"), user_path(username: current_user.username), class: "profile" %></li>
    <li><%= link_to t("shared.links.signout"), destroy_user_session_path, class: "signout"  %></li>
  </ul>
</header>
